.navbar {
    display: flex;
    align-items: center;
    padding: 10px 40px;
    justify-content: space-between;
    color: #49698E;
    border-bottom: 1px solid #dbdbdb;
}

.navbar .logo {
    text-transform: uppercase;
    font-size: medium;
}

.navbar nav a {
    text-decoration: none;
    color: #aaa;
    padding-left: 15px;
}

.navbar nav a:hover {
    color: #49698E;
}

.main-container {
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 350px;
    height: 100vh;
    background-color: #F2F8FD;
    border-right: 1px solid #dbdbdb;
    display: flex;
    flex-direction: column;
}

.guide-container {
    margin: 10px 40px;
}

.guide-container--content {
    max-width: 700px;
}

.guide-container p {
    line-height: 1.7em;
}

.sidebar--feed-list,
.content-links  {
    text-decoration: none;
    list-style: none;
}

.sidebar--feed-list {
    padding: 15px 40px;
}

.sidebar--feed-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar--feed-item-count {
    background-color: #49698E;
    margin-left: 4px;
    color: white;
    padding: 3px 8px;
    font-size: 10px;
    font-weight: bold;
    border-radius: 15px;
}

.sidebar--feed-delete {
    color: #ccc;
    font-weight: bold;
    font-size:12px;
}

.sidebar--feed-delete:hover {
    cursor: pointer;
    color: red;
}

.content-links--item {
    padding: 5px 0;
    margin: 10px auto;
}

.content-links--item a:hover {
    color: slateblue;
}

.content-links--item-date {
    font-size: small;
    font-weight: bold;
    color: #bbb;
}

.content-links--info {
    padding-bottom: 20px;
}

a {
    text-decoration: none;
    color: #49698E;
}

.sidebar--feed-title {
    padding: 13px 0;
    color: #49698E;
}

.sidebar--feed-title:hover {
    cursor: pointer;
    color: slateblue;
}

.sidebar-form {
    max-width: 200px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
}

.sidebar-form input{
    margin-bottom: 10px;
}